@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


a{
    text-decoration: none;
}
.header{
    position: relative;
    height: 50px;
    width: 100%;
    z-index: 100;
    padding: 10px;
    display: flex;
    background: #414041;
}


.header .nav{
    max-width: 1100px;
    width: 250px;
    margin: 0 auto;
}

.header .nav,
.nav_item {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav_logo{
    font-size: 30px;
    margin-left: -420px;
}

.nav_item{
    column-gap: 25px;
    margin: 350px;
    transition: .3s;
}

.nav_link{
    color: #fff;
}
.nav_logo,
.button{
    color: #fd56e1;
}
.nav_link:hover{
    color: #d9d9d9;
}

.header .button{
    padding: 6px 24px;
    border: 2px solid #fff;
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
}

.header .button:active{
    transform: scale(0.98);
}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("02.jpg");
    background-size: cover;
    background-position: center;
}

.home::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-out;
}

.home.show::before{
    opacity: 0;
    pointer-events: auto;
}

.introduction-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff;
    text-align: center;
}

.introduction-text h1{
    font-size: 60px;
    z-index: 2;
    margin: 0 0 12px;
    color: #fd56e1;
}

.introduction-text p{
    line-height: 1.6;
    font-size: 20px;
    margin: 0;
}

/* form */
.form_container{
    position: absolute;
    max-width: 320px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 101;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease-out;
}

.home.show .form_container{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.signup_form{
    display: none;
}

.form_container.active .signup_form{
    display: block;
}

.form_container.active .login_form{
    display: none;
}

.signup_form{
    display: none;
}
.form_close{
    position: absolute;
    top: 10px;
    right: 20px;
    color: #0b0217;
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
}

.form_container h2{
    font-size: 22px;
    color: #0b0217;
    text-align: center;
}

.input_box{
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 40px;
}

.input_box input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    transition: all 0.2s ease;
    padding: 0 30px;
    color: #333;
    border-bottom: 1.5px solid #aaaaaa;

}

.input_box input:focus{
    border-color: #7d2ae8;
}

.input_box i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.input_box i.email,
.input_box i.password{
    left: 0;
    color: #707070;
}

.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password{
    border-color: #7d2ae8;
}
.input_box i.pw_hide{
    right: 0;
    font-size: 18px;
    cursor: pointer;
}

.option_field{
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form_container a {
    color: #7d2ae8;
    font-size: 13px;
}

.form_container a:hover{
    text-decoration: none;
}

.checkbox{
    display: flex;
    column-gap: 8px;
    white-space: nowrap;
    
}

.checkbox input{
    accent-color: #7d2ae8;
}

.checkbox label{
    cursor: pointer;
    font-size: 13px;
    user-select: none;
    color: #0b0217;
}

.form_container .button{
    background: #7d2ae8;
    margin-top: 30px;
    width: 100%;
    padding: 7px 0;
    border-radius: 10px;
}

.login_signup{
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}






.about-us{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}

.about-us .info-box{
    flex: 1;
    padding: 30px;
}

.about-us .info-box h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 10px;
}

.about-us .info-box p{
    line-height: 1.8;
    color: #777;
    margin: 0;
}

.about-us .image-box{
    flex: 1;
    text-align: center;
}

.about-us .image-box img{
    width: 250px;
    height: 250px;
}



.container nav{
    position: absolute;
    top: 1070px;
    left: 480px;
    transform: translate(-50px, -50px);
    background: #1b1b1b;
    width: 400px;
    line-height: 40px;
    padding: 8px 25px;
    border-radius: 5px;
}

.container nav label{
    color: white;
    font-size: 22px;
    font-weight: 500;
    display: block;
    cursor: pointer;
}

.container .button span{
    float: right;
    line-height: 35px;
    color: white;

}


.container nav ul{
    position: absolute;
    background: #1b1b1b;
    list-style: none;
    top: 75px;
    left: 0;
    width: 92.5%;
    border-radius: 5px;
    display: none;
    

}

[id^=btn]:checked + ul{
    display: block;
}

.container nav .menu:before{
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    background: #1b1b1b;
    right: 20px;
    top: -10px;
    transform: rotate(45deg);
    z-index: -1;
}

.container nav ul li{
    line-height: 40px;
    padding: 8px 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}

.container nav ul li label{
    font-size: 18px;
    

}

.container nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.container nav ul li a:hover,
.container nav ul li label:hover{
    color: cyan;
}

.container nav ul ul{
    position: static;
    
}

.container nav ul ul li{
    line-height: 30px;
    padding-left: 30px;
    border-bottom: none;
}

.container nav ul ul li a{
    color: #e6e6e6;
    font-size: 17px;
}

.container nav input{
    display: none;
}
/* End Articles */


.ben{
    padding-top: 650px;
    padding-bottom: 50px;
    display: flex;
}



/* Start footer */

footer{
    /* background-color: #111; */
    padding-top: 50px;
    margin-bottom: 0;
}

/* .footercontainer{
    width: 90%;
    padding: 70px 30px 20px;
    padding-top: 50px;
}

.socialicons{
    display: flex;
    justify-content: center;
}

.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50px;
}

.socialicons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialicons a:hover{
    background-color: #111;
    transition: 05s;
}

.socialicons a:hover i{
    color: white;
    transition: 0.5s;
}

.footerNav{
    margin: 30px 0;
    justify-content: center;
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    list-style-type: monedisc;
} */
/* 
.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity: 1;
} */

.footerBottem{
    background-color: #000;
    padding: 5px;
    text-align: center;
}
.footerBottem p{
    color: white;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100px;
        text-align: center;
        margin: 10px;
    }
}